<header class="justify-content-center align-items-center">
  <div class="row">
    <div class="col-2 pt-3">
    </div>
    <div class="col-8 align-items-center pt-5">
      <h1>Santiago Skate Park</h1>
    </div>
    <div class="col-2">
    </div>
  </div>
</header>