    <header class="justify-content-center align-items-center">
      <div class="row">
        <div class="col-2 pt-3" >
          <img src="/img/S_SK_PK2.png" alt="" height="150px">
        </div>
        <div class="col-8 align-items-center pt-5 " >
          <h1>Santiago Skate Park</h1>
        </div>
        <div class="col-2">
          <img src="/img/muniSant.png" alt="" height="170px">
        </div>
      </div>
      
      
    </header>