
    <br>

    {{# if showInicio }}
        | <a href="/">Inicio</a> |
    {{/ if }}

    {{# if showLogin }}
        | <a href="/login">Iniciar Sesión</a> |
    {{/ if }}
        
    {{# if showRegister }}
        | <a href="/register">Registrarme</a> |
    {{/ if }}