
    {{# unless sessionActive.notActive }}
        | <a href="/login">Iniciar Sesión</a> |
    {{ else }}
        {{# unless sessionActive.fromLogin}}
            | <a href="/login">Cerrar Sesión</a> |
        {{/ unless}}
    {{/ unless }}

    {{# unless registerActive }}
        | <a href="/register">Registrarme</a> |
    {{/ unless }}